<% content_for :title do %>
  RubyMID
<% end %>

<div class="container">
	<h1 class="text-center">RubyMID</h1>
	<h3 class="text-center">Comunidad de Ruby en Mérida</h3>
</div>

<div class="space-15"></div>

<div class="jumbotron">
  <div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<div class="element">
					<div class="icon">
						<i class="fa fa-facebook"></i>
					</div>
					<a href="#" class="btn btn-block btn-primary"> Unete a Facebook </a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="element">
					<div class="icon">
						<i class="fa fa-twitter"></i>
					</div>
					<a href="#" class="btn btn-block btn-success"> Siguenos en Twitter </a>
				</div>
			</div>

		</div>
	</div>
</div>



<div class="space-35"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Eventos Pasados</h2>

			<h4>8 de Mayo 2014</h4>
			<ul>
				<li><a href="https://github.com/joseramonc/blog-sample/">Introducción a Ruby on Rails</a> - @fulano</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Leyenda de footer</p>
	</div>
</div>

